@model Eshopping.Models.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Session["Id"] != null)
{
   
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header ">
            <a class="navbar-brand" href="/Home">EShopping</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                @if (Session["Id"] != null)
                {
                    <li><img src="@Session["image"]" alt="" height="50" width="50"></li>
                    <li><a>@Session["uname"]</a></li>
                }
                <li class="action"><a href="/Home">Home</a></li>
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Categories
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach(var i in ViewBag.Category)
                        {
                            <li><a href="/Home/New/?name=@i.Name">@i.Name</a></li>
                        }
                       

                    </ul>
                </li>



                @if (Session["Id"] != null)
                {
                    <li><a href="/User/ViewProfile">View Profile</a></li>
                    <li><a href="/WishList/WishList">WishList</a></li>
                    <li><a href="/Cart/ViewCart">Cart</a></li>
                    <li><a href="/Home/SignOut">SignOut</a></li>
                }

                @if (Session["Id"] == null)
                {

                    <li><a href="/Home/Login"><div class="pull-right">Login</div></a></li>
                    <li><a href="/Home/SignUp">SignUp</a></li>
                }

            </ul>

            <form class=" navbar-form navbar-left pull-right" action="/Home/Search" method="post">

                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Search" name="Search" />

                </div>
                <button type="submit" class="btn btn-group">Search</button>

            </form>


        </div>
    </nav>
<div class=" container">


    <div>
         <form role="form" method="post" action="/User/Edit" enctype="multipart/form-data">
        
           @Html.ValidationSummary(true)
           @Html.AntiForgeryToken()
            <fieldset>

                @Html.HiddenFor(m => m.Id)

                <legend>Edit Profile</legend>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>



                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>



                <div class="editor-label">
                    @Html.LabelFor(m => m.Contact)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Contact)
                    @Html.ValidationMessageFor(m => m.Contact)
                </div>



                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Password)
                   @Html.ValidationMessageFor(m => m.Password)
                </div>


                <div class="editor-label">
                    @Html.LabelFor(m => m.Image)
                </div>
                <div class="editor-field">
                    <div class="item ">
                        <img src="@Model.Image" alt="Slider Image">
                    </div>
                </div>

                <div class="form-group">
                    <label for="uploadimage" class="col-md-2">
                        Upload Image:
                    </label>
                    <div class="col-md-10">
                        <input type="file" name="Image" id="uploadimage" height="50" width="50">
                       
                    </div>


                </div>
                <br />
                <div class="pull-left">
                    <input type="submit" value="Save" />
                </div> 
            </fieldset>
        
             </form>

    </div>


</div>
}
else
{
    <br />
    <br />
    <h1>Page Not Accessable</h1>
    <br />
    <br />
}

