@model List<Eshopping.Models.Cart>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Session["Id"] != null)
{
    
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header ">
            <a class="navbar-brand" href="/Home">EShopping</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                @if (Session["Id"] != null)
                {
                    <li><img src="@Session["image"]" alt="" height="50" width="50"></li>
                    <li><a>@Session["uname"]</a></li>
                }
                <li class="action"><a href="/Home">Home</a></li>
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Categories
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach(var i in ViewBag.Category)
                        {
                            <li><a href="/Home/New/?name=@i.Name">@i.Name</a></li>
                        }
                       

                    </ul>
                </li>



                @if (Session["Id"] != null)
                {
                    <li><a href="/User/ViewProfile">View Profile</a></li>
                    <li><a href="/WishList/WishList">WishList</a></li>
                    <li><a href="/Cart/ViewCart">Cart</a></li>
                    <li><a href="/Home/SignOut">SignOut</a></li>
                }

                @if (Session["Id"] == null)
                {

                    <li><a href="/Home/Login"><div class="pull-right">Login</div></a></li>
                    <li><a href="/Home/SignUp">SignUp</a></li>
                }

            </ul>

            <form class=" navbar-form navbar-left pull-right" action="/Home/Search" method="post">

                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Search" name="Search" />

                </div>
                <button type="submit" class="btn btn-group">Search</button>

            </form>


        </div>
    </nav>
<div class=" container">


    <div class="row">
           
        <div class="col-md-12">
            
            @foreach (var i in Model)
            {
                
                <div class="col-md-4">

                    <img src="@i.Image" class="thumbnail" alt="Cinque Terre" height="250" width="200">

                    <div class="panel">

                        <p>@i.Description</p>
                        <p>Rs:@i.Price</p>

                       

                    </div>
                </div>
            }

           
        </div>
        <center>
            <p>
                <input type="submit" value="Buy Now" onclick="window.location.href='/Cart/BuyCart'" style="width: 100px;" />

            </p>
        </center>
            
    </div>
</div>
    }
else
{
    <br />
    <br />
    <h1>Page Not Accessable</h1>
    <br />
    <br />
}
